/*   
Theme Name: Cheapside Privilege Card
Theme URI: http://www.cheapsideprivilegecard.co.uk
Description: 
Author: Earth Branding
Author URI: https://earth.london/
Version: 2.0
*/


@font-face{
    font-family:'cheapside-icons';
    src:url("fonts/cheapside-icons/cheapside-icons.eot");
    src:url("fonts/cheapside-icons/cheapside-icons.eot?#iefix") format("embedded-opentype"),
    url("fonts/cheapside-icons/cheapside-icons.woff") format("woff"),
    url("fonts/cheapside-icons/cheapside-icons.ttf") format("truetype"),
    url("fonts/cheapside-icons/cheapside-icons.svg#font-name") format("svg");
    font-weight:normal;
    font-style:normal
}
@font-face{
    font-family:'cheapside-bold';
    src:url("fonts/cheapside-bold/cheapside-bold.eot");
    src:url("fonts/cheapside-bold/cheapside-bold.eot?#iefix") format("embedded-opentype"),
    url("fonts/cheapside-bold/cheapside-bold.woff") format("woff"),
    url("fonts/cheapside-bold/cheapside-bold.ttf") format("truetype"),
    url("fonts/cheapside-bold/cheapside-bold.svg#font-name") format("svg");
    font-weight:normal;
    font-style:normal
}
@font-face{
    font-family:'cheapside-light';
    src:url("fonts/cheapside-light/cheapside-light.eot");
    src:url("fonts/cheapside-light/cheapside-light.eot?#iefix") format("embedded-opentype"),
    url("fonts/cheapside-light/cheapside-light.woff") format("woff"),
    url("fonts/cheapside-light/cheapside-light.ttf") format("truetype"),
    url("fonts/cheapside-light/cheapside-light.svg#font-name") format("svg");
    font-weight:normal;
    font-style:normal
}
@font-face{
    font-family:'cheapside-regular';
    src:url("fonts/cheapside-regular/cheapside-regular.eot");
    src:url("fonts/cheapside-regular/cheapside-regular.eot?#iefix") format("embedded-opentype"),
    url("fonts/cheapside-regular/cheapside-regular.woff") format("woff"),
    url("fonts/cheapside-regular/cheapside-regular.ttf") format("truetype"),
    url("fonts/cheapside-regular/cheapside-regular.svg#font-name") format("svg");
    font-weight:normal;
    font-style:normal
}


a, input, textarea{ transition: .4s all; -moz-transition: .4s all; -webkit-transition: .4s all; -o-transition: .4s all; }
a:focus, input:focus, textarea:focus, select:focus{ outline: none; }

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, tbody, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
em{ font-style: italic; }
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

#logo {
	background-image: url("images/cheapside-logo.svg");
	display: block;
	width: 160px;
	height: 34px;
	text-indent: -1000px;
	overflow: hidden;
	position: absolute;
	right: 10px;
	top: 10px;
	background-repeat: no-repeat;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after, q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* Start of CSS Coding */

img{ max-width: 100%; height: auto; }

html {
	margin: 0;
	padding:0;
}
body {
	margin: 0 auto;
	text-align: left;
	font-family: 'cheapside-regular', Arial, Helvetica, sans-serif;
	background-color: #f5f5f5;
	background-image: linear-gradient(to right bottom, #ffffff, #edf3ff, #cfe9ff, #a5e3ff, #6fddf7);
	font-size: 14px;
	line-height: 1.45em;
	color: #393b4d;
}
.page-id-76 .socialMediaSharing, .page-id-74 .socialMediaSharing {
	display: none;
}
.clearFloat {
	clear: both;
}
#pageWrapper {
	margin: 0 auto;
	padding: 0;
}
.wrap{
	position: relative;
}
#header {
	padding: 10px;
	height: 34px;
	position: relative;
}

h1, h2, h3, h4, h5, h6{ font-family: 'cheapside-bold', Arial, Helvetica, sans-serif; font-weight: bold; line-height: 1.4em; }

strong, b{ font-family: 'cheapside-bold', Arial, Helvetica, sans-serif; font-weight: bold; }

h2 {
	font-size: 24px;
	margin-bottom: 10px;
	color: #33c1e2;
}
h3 {
	font-size: 22px;
	margin: 10px 0;
}
.blue{ color: #33c1e2; }
.white{ color: #fff; }

.left {
	float: left;
}
.right {
	float: right;
}



.headerText {
	clear: both;
	float: right;
	text-transform: uppercase;
	font-size: 12px;
}
#mainPage {
	border: 10px solid #33c1e2;
	background-color: #fff;
	overflow: hidden;
}
#sideBar {
    overflow: hidden;
	padding: 10px;
	text-align: left;
}
ul.menu-offers-navigation-menu{
	color: #53006a;
	margin-bottom: 25px;
}
ul.menu-offers-navigation-menu li {
	color: #393b4d;
	border-top: 1px solid #9ddfe6;
	margin: 0;
	padding: 12px 0 8px 0;
	text-transform: uppercase;
}

ul.menu-offers-navigation-menu li:last-child{
	border-bottom: 1px solid #9ddfe6;
}

ul.menu-offers-navigation-menu li a{
	color: #393b4d;
}
a{ transition: all .2s ease-in-out }
a:link, a:visited {
	color: #33c1e2;
	text-decoration: none;
}
a:hover{ color: #393b4d; }

ul.menu-offers-navigation-menu li.current_page_item a {
	color: #33c1e2;
	font-family: 'cheapside-bold', Arial, Helvetica, sans-serif;
}
ul.menu-offers-navigation-menu li a:hover {
	color: #33c1e2;
}
#mainContentBody {
	margin: 0 0 0 0;
}

#mainContent ul ul {
	margin: 50px 0 0 0;
}

#termsAndConditionsContent {
	margin: 17px 20px 30px 0;
}
#offersContent {
	margin: 10px 0 30px 0;
}
#privacyAndAccessibilityContent {
	margin: 0 20px 30px 0;
}
#termsAndConditionsContent ol {
	list-style: normal;
}
#termsAndConditionsContent ol li {
	list-style: normal;
}
li#menu-item-392, li#menu-item-429, li#menu-item-431 {
}
#mainContent ul li:first-child {
}
#mainContent ul li:last-child {
	margin: 0 10px 0 0;
}
#mainContent {
	border-left: 1px solid #f5f5f5;
	position: relative;
	padding: 10px
}
#mainContent:after{ content: "";
  display: table;
  clear: both; }
#mainContent p {
	margin: 0 0 10px 0;
}

ul.slides, ul.slides li{ margin: 0 !important; }

#mainContent ul, ol {
	margin: 0 0 10px 20px;
	padding: 0 0 0 0;
}
#mainContent ul li, ol li {
	margin: 0 0 4px 0;
	padding: 0;
}

#mainContent ul li {
	list-style: disc !important;
}


ul.menu-page-navigation-menu {
	margin-left: 0 !important;
	padding-left: 0 !important;
}

ul.menu-page-navigation-menu li {
	background-color: #069eb7;
	color: #FFFFFF;
	margin: 0 0 6px 0 !important;
	background-image: -webkit-gradient(
	linear,
	right bottom,
	right bottom,
	color-stop(0, #069eb7),
	color-stop(1, #33c1e2)
	);
	background-image: -o-linear-gradient(right bottom, #069eb7 0%, #33c1e2 100%);
	background-image: -moz-linear-gradient(right bottom, #069eb7 0%, #33c1e2 100%);
	background-image: -webkit-linear-gradient(right bottom, #069eb7 0%, #33c1e2 100%);
	background-image: -ms-linear-gradient(right bottom, #069eb7 0%, #33c1e2 100%);
	background-image: linear-gradient(to right bottom, #069eb7 0%, #33c1e2 100%);
}

ul.menu-page-navigation-menu li a {
	color: #ffffff;
	display: block;
	font-size: 16px;
	text-decoration: none;
	font-weight: bold;
	padding: 10px;
}
ul.menu-page-navigation-menu li a:hover {
	text-decoration: underline;
}
#pageContent {
	min-height: 489px;
}
#pageTitle {
	padding: 20px 0 30px;
}
#pageTitle h1 {
	font-size: 26px;
	line-height: 1.4em;
	font-weight: bold;
}
.halfheight {
	padding: 22px 0 20px !important;
}
#homePageImage {
	padding: 0 0 0 0;
}
#homePageText {
	padding: 20px 0;
	width: 100%;
}
#homePageMenu {
	padding: 20px 0 0 0;
	width: 100%;
}
.text a{ text-decoration: underline; }
.black {
	color: #333333;
}
#partBrandsContent {
	padding: 0 0 0 0;
	width: 595px;
	overflow: hidden;
}
#partBrandsContent p {
	padding: 0 20px 0 0;
}
.contentBox {
	margin: 0 10px 10px 0;
	float: left;
	padding: 25px 0 0 0;
	width: 185px;
	height: 157px;
	background-color: #f3f3f4;
}
.contentBox:nth-child(3n+3) {
	margin: 0 0 10px 0;
	float: left;
	padding: 25px 0 0 0;
	width: 185px;
	height: 157px;
	background-color: #f3f3f4;
}
.imageBox {
	margin: 0 0 0 35px;
	width: 115px;
	height: 115px;
	background-color: #dcc893;
}
.textBox {
	margin: 10px auto;
	height: 32px;
}
table {
	margin: 10px 0 0 20px;
	border: border-collapse;
}
tr {
	width: 0;
}
th {
	padding: 0 0 3px 0;
	width: 50px;
}
td {
	padding: 0 0 3px 0;
	width: 300px;
}
.pageNavigation {
	margin: 0 0 0 0;
	padding: 3px 0;
	clear: both;
}
.pageNavigation ul li {
	display: inline;
	background-color: #fff;
	color: #cccccc;
}
.offersText {
	margin: 0;
	word-wrap: break-word;
}

.offersText strong{
	font-weight: bold !important;
}

img.alignleft{
	float: left;
	margin: 0 20px 10px 0;
	display: block;
}

img.alignright{
	float: right;
	margin: 0 0 10px 20px;	
	display: block;
}

.offersText a{
	color: #333333;
	text-decoration: underline;
}

.offersText a:hover{
	color: #000000;
	text-decoration: none;
}

.offersImage {
	margin: 0 10px 0 0;
}
.offers {
	padding: 0 0 25px 0;
}
.offersTitle {
	padding: 10px 0 0 0;
}

.offersTitle a{ text-decoration: underline; }

.offersThumbnail {
	height: 240px;
	background-repeat: no-repeat;
	background-position: center center;
	border: 6px solid #f5f5f5;
	transition: .4s all;
}
.offersThumbnail:hover{ border: 6px solid #33c1e2; }

.read-more a{ font-size: 20px !important; color: #33c1e2 !important; }

.postlink {
	padding: 10px 0 0 0;
	clear: both;
}
#orderacard {
	padding: 0 0 0 17px;
	position: relative;
	height: 480px;
}
#footer {
	padding: 50px 25px;
	background-color: #4e4e4e;
	color: #e4e4e4;
	font-size: 12px;
}
#footer ul li {
	margin: 0 0 0 10px;
	padding: 0 0 0 0;
	list-style-type: none;
	display: inline;
	background-image: url(images/navSpacer.png);
	background-position: center right;
	background-repeat: no-repeat;
}
.menu-footer-navigation-menu-container {
	width: 430px;
}
#footer li:first-child {
	color: #e4e4e4;
	margin: 0 0 0 0;
	padding: 0 0 0 0;
	list-style-type: none;
	display: inline;
	line-height: 10px;
	background-image: none;
}
#footer li:last-child {
	color: #e4e4e4;
	margin: 0 0 0 10px;
	padding: 0 0 0 0;
	list-style-type: none;
	display: inline;
	line-height: 10px;
	background-image: none;
}
#footer a:link {
	color: #e4e4e4;
	text-decoration: underline;
}
#footer a:visited {
	color: #fff;
}
#footer a:hover {
	text-decoration: underline;
}
#footer a:active {
	color: #fff;
}


img.offersSingleImage{ margin-bottom: 20px; display: block; }




.wpcf7-form label{ text-transform: uppercase;  cursor: pointer; }
.wpcf7-form input[type="text"], .wpcf7-form input[type="email"], .wpcf7-form textarea{ background-color: #f5f5f5; padding: 12px 14px; width: 100%; border: 1px solid #393b4d; font-weight: normal; max-width: 500px; font-size: 16px; font-family: 'cheapside-regular', Arial, Helvetica, sans-serif; }
.wpcf7-form input[type="text"]:focus, .wpcf7-form input[type="email"]:focus, .wpcf7-form textarea:focus{ background-color: #fff; }
.wpcf7-form .wpcf7-form-control-wrap{ display: block; margin: 12px 0; }
.wpcf7-submit{ background-color: #33c1e2; color: #fff; padding: 12px 24px; border: 0; font-size: 16px; font-family: 'cheapside-regular', Arial, Helvetica, sans-serif; cursor: pointer; }
.wpcf7-submit:hover{ background-color: #393b4d; color: #fff; padding: 12px 36px; }

span.wpcf7-not-valid-tip{ margin-top: 6px; }

.wpcf7-form div.wpcf7-response-output{ margin-left: 0; margin-right: 0; border: 1px solid #000; padding: 11px 24px; background-color: #000; color: #fff; }
.wpcf7-form div.wpcf7-validation-errors, .wpcf7-form div.wpcf7-acceptance-missing{ border: 1px solid #ff2800; background-color: #ff2800; color: #000; }
.wpcf7-form div.wpcf7-mail-sent-ok{ border: 1px solid #78cfc8; background-color: #78cfc8; color: #000; }






/* WP Paginate */
div.navigation{ 
	padding: 3px 0;
	margin-bottom: 30px;
}

div.navigation::after {
    content: "";
    clear: both;
    display: table;
}

body ol.wp-paginate {
    padding: 0;
    margin: 0;
    float: right;
}
body ol.wp-paginate li {
    display: inline-block;
    list-style: none;
    font-size: 16px;
    margin: 0;
}
body ol.wp-paginate li:first-child{ margin-left: 0; }
body ol.wp-paginate li:last-child{ margin-right: 0; }
body ol.wp-paginate a {
    background: #393b4d;
    color: #fff;
    margin: 3px;
    padding: 8px 14px 6px 14px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    text-decoration: none;
    line-height: 18px;
}

body ol.wp-paginate li:last-child a{ margin-right: 0; }

body ol.wp-paginate a:hover,
body ol.wp-paginate a:active{
    background: #33c1e2;
    color: #fff;
}
body ol.wp-paginate .title {
    color: #000;
    margin: 0 6px 0 0;
}
body ol.wp-paginate .gap {
    color: #000;
    margin: 3px;
}
body ol.wp-paginate .current {
    color: #fff;
    background: #33c1e2;
    margin: 3px;
    padding: 8px 14px 6px 14px;
    display: inline-block;
    text-align: center;
    line-height: 18px;
}

#homePageShareThis {
	margin: 20px 0 0 0;
}

.shareThis{ clear: both; }
.stButton {
	margin-left: 0px !important;
	margin-right: 4px !important;
}



span.error{ color: #ff0000; font-weight: bold; }

strong{ font-weight: bold !important; }

hr { border: solid #f5f5f5; border-width: 1px 0 0; clear: both; margin: 10px 0; height: 0; }
#captcha-container{ width: 400px; padding-bottom: 20px; }
#custom-forms table{ margin: 10px 0 10px 0; }
#custom-forms label{ cursor: pointer; font-weight: bold; font-family: 'cheapside-bold', Arial, Helvetica, sans-serif; }
#custom-forms input[type=text], #custom-forms input[type=password], #custom-forms textarea{ font-size: 14px; padding: 14px; border: 1px solid #393B4D; width: 60%; background-color: #f5f5f5; }
#custom-forms textarea{ height: 150px; width: 90%; margin-bottom: 30px;}
#custom-forms input[type=submit]{ cursor: pointer; font-weight: bold; background-color: #33c1e2; font-size: 14px; padding: 20px 40px; border: none; font-family: 'cheapside-bold', Arial, Helvetica, sans-serif; }
#custom-forms input[type=submit]:hover{ background-color: #393B4D; color: #fff; }







/* The Royal Exchange */

.tre-body	{
	background-image:url(images/tre-background.png);
	margin: 0 0 0 0;
	width: 100%;
}
	
#tre-wrapper	{
	width: 825px;
	background-color:#000000;
	min-height: 300px;
	margin: 0 auto;
}

#tre-header{
	width: 825px;
	background-color:#1d1918;
	height: 30px;
	margin: 0 auto;
	padding: 0 0 0 0;
}

#tre-header a {
	color: #828282;
	text-transform:uppercase;
	background:url(images/back-image.png) no-repeat left center;
	padding: 0 0 0 25px;
	margin: 0 0 0 18px;
	line-height: 29px;
}

#tre-header a:hover {
	color: #fff;
}

#tre-mainBody	{
	width: 825px;
	background-color:#000000;
	min-height: 300px;
	margin: 0 auto;
	padding: 10px 0 0 0;
	overflow: hidden;
}

#tre-cheapsideLogo	{
	background:url(images/tre-cheapside-logo.png) no-repeat;
	padding: 10px 0 0 0;
	margin: 0 auto;
	width: 146px;
	height: 12px;
}
	
#tre-mainLogo	{
	background:url(images/logo.png) no-repeat;
	width: 390px;
	height: 138px;
	margin: 0 auto;
}

#tre-mainLogo a	{
	width: 390px;
	height: 138px;
	display: block;
	text-indent: -9999px;
}

#tre-introText	{
	text-align:center;
	width:390px;
	color: #FFF;
	font-family:Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: normal;
	margin: 0 auto;
}

.tre-seperator	{
	background:url(images/tre-seperator.png);
	width: 788px;
	height: 15px;
	margin: 0 auto;
}

.tre-row	{
	width: 788px;
	margin: 0 auto;
	overflow: hidden;
}

#tre-rowOne	{
	width: 788px;
	margin: 0 auto;
	overflow: hidden;
}

#tre-rowTwo	{
	width: 788px;
	margin: 0 auto;
	overflow: hidden;
}
#tre-rowThree	{
	width: 788px;
	margin: 0 auto;
	overflow: hidden;
}

.tre-box	{
		width: 157px;
		float: left;
		margin: 0 20px; 
}

#tre-boxes	{
	overflow: hidden;
	}
	
.tre-box-image	{
		width: 157px;
		height: 135px;
}

.tre-box-text	{
		width: 157px;
		height: 35px;
		margin: 38px 0;
		color: #cccccc;
		font-family:Arial, Helvetica, sans-serif;
		font-size: 13px;
		font-weight: normal;
		line-height: 18px;
		text-align: center;
		text-transform: uppercase;
}
#tre-shareThis	{
	padding: 0 0 160px 0;
	width: 788px;
	margin: 0 auto;
	text-align: center;
	}
	
#tre-footer{
	width: 825px;
	background-color:#1d1918;
	height: 80px;
	margin: 0 auto;
	font-family:Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #828282;
}

#tre-footerRowOne	{
	padding: 40px 0 0 18px;
}

#tre-footerRowTwo	{
	padding: 0 18px 0 18px;
}

#tre-footerRowOne p	{
	margin: 0 0 0 0;
}

#tre-footerRowTwo p	{
	margin: 5px 0 0 0;
}

.tre-footerLeft	{
	float: left;
}

.tre-footerRight	{
	float: right;
}

.tre-box	{
	opacity: 0.4;
	}
	
.tre-box:hover	{
	opacity: 1;
	}
	
/* single-page */

#tre-singlepost	{
width: 788px;
margin: 0 auto;
padding: 0 0 160px 0;
overflow: hidden;
}

#tre-postContent	{
overflow: hidden;
margin: 16px 0 0 0;
}

#tre-postContentLeft	{
width: 200px;
margin: 0 auto;
float: left;
overflow: hidden;
}

.tre-postContentImage	{
width: 180px;
height: 180px;
background-color: #000;
padding: 4px 0 0 0;
}
.tre-postContentImage img{ max-width: 100%; height: auto; }
#tre-postContentRight	{
width: 500px;
margin: 0 auto;
float: left;
overflow: hidden;
margin: 0 0 0 0;
}

#tre-companyDetails	{
width: 788px;
margin: 20px auto;
overflow:hidden;
}
#tre-companyDetailsLeft	{
width: 50%;
margin: 0 auto;
float: left;
}
#tre-companyDetailsRight	{
width: 50%;
margin: 0 auto;
float: left;
}

#tre-shareThis	{
	padding: 50px 0 58px;
	width: 788px;
	margin: 0 auto;
	text-align: center;
	}
	
#tre-shareThis-single	{
	margin: 30px 0 30px 0;
	text-align: left;
	}

.tre-single-title	{
	font-family:Arial, Helvetica, sans-serif;
	font-size: 16px;
	font-weight: bold;
	color: #cdcdcd;
	line-height: 20px;
		}
	
.tre-single-offer-title	{
	font-family:Arial, Helvetica, sans-serif;
	font-size: 16px;
	font-weight: bold;
	color: #cdcdcd;
	line-height: 20px;
	}
	
.tre-single-offer-title	p	{
	padding: 0 0 10px 0;
	}
	
.uppercase	{
	text-transform: uppercase;
	}
	
.tre-single-offer	{
	font-family:Arial, Helvetica, sans-serif;
	font-size: 13px;
	font-weight: normal;
	color: #cdcdcd;
	line-height: 20px;
	}
.tre-cd-title	{
	font-family:Arial, Helvetica, sans-serif;
	font-size: 13px;
	font-weight: bold;
	color: #cdcdcd;
	line-height: 20px;
	}
	
.tre-cd-detail	{
	font-family:Arial, Helvetica, sans-serif;
	font-size: 13px;
	font-weight: normal;
	color: #cdcdcd;
	line-height: 20px;
	}

span.tre-cd-detail p a	{
	text-decoration: underline;
	}
	
/* sharethis tre */

div#tre-shareThis span.st_facebook_buttons span.stButton span.stMainServices,
div#tre-shareThis-single span.st_facebook_buttons span.stButton span.stMainServices
{
background-image: url("images/st-fb-share.jpg") !important;
}

div#tre-shareThis span.st_twitter_buttons span.stButton span.stMainServices,
div#tre-shareThis-single span.st_twitter_buttons span.stButton span.stMainServices
{
background-image: url("images/st-tweet.jpg") !important;
}

div#tre-shareThis span.st_email_buttons span.stButton span.stMainServices,
div#tre-shareThis-single span.st_email_buttons span.stButton span.stMainServices
{
background-image: url("images/st-email.jpg") !important;
}

div#tre-shareThis span.st_sharethis_buttons span.stButton span.stMainServices,
div#tre-shareThis-single span.st_sharethis_buttons span.stButton span.stMainServices
{
background-image: url("images/st-sharethis.jpg") !important;
}

html#facebook body.plugin div._li div.pluginSkinLight div table#u_0_0.uiGrid tbody tr._51mx td._51m- div form#u_0_1 div.pluginConnectButton div.pluginButton div button i.pluginButtonIcon
{
background-image: url("images/st-fb-like.jpg") !important;
}

.pluginButton {
    background: none repeat scroll 0 0 #909090 !important;
    border: 1px solid #828282 !important;
}
div#tre-shareThis-single div.pluginConnectButton div.pluginButton {
    background: none repeat scroll 0 0 #909090 !important;
    border: 1px solid #828282 !important;
    border-radius: 3px 3px 3px 3px !important;
    color: #4a4a4a !important;
    cursor: pointer !important;
    padding: 2px 6px 4px !important;
    white-space: nowrap !important;
}

.sp_like {
    background-image: url("images/fb-logo-gray.jpg") !important;
    background-repeat: no-repeat;
    background-size: auto auto;
    display: inline-block; 
    height: 14px;
    width: 14px;
}

html#facebook body.plugin div._li div.pluginSkinLight div table#u_0_0.uiGrid tbody tr._51mx td._51m- div div.pluginCountButton	{ display: none !important; }

#accept_paypal_payment_form input[type="text"]{ font-size: 13px; -webkit-border-radius: 4px; border-radius: 4px; padding: 8px; border: 1px solid #393B4D; width: 60%; background-color: #f5f5f5; }
#accept_paypal_payment_form input[type="image"]:focus{ outline: none; }
#accept_paypal_payment_form input[type="image"]{ margin-bottom: 20px; margin-left: -16px; }

.share-this-headline{ margin-bottom: 10px; }

.st_fblike_large > span, .st_fbrec_large > span{ bottom: 10px !important; }

.st_sharethis_icon .stLarge{
	background: url("images/social/share-this.png") no-repeat scroll left top transparent !important;
	background-size: 32px 32px !important;
}

.st_facebook_icon .stLarge{
	background: url("images/social/share-facebook.png") no-repeat scroll left top transparent !important;
	background-size: 32px 32px !important;
} 

.st_twitter_icon .stLarge{
	background: url("images/social/share-twitter.png") no-repeat scroll left top transparent !important;
	background-size: 32px 32px !important;
} 

.st_linkedin_icon .stLarge{
	background: url("images/social/share-linkedin.png") no-repeat scroll left top transparent !important;
	background-size: 32px 32px !important;
} 

.st_email_icon .stLarge{
	background: url("images/social/share-mail.png") no-repeat scroll left top transparent !important;
	background-size: 32px 32px !important;
}

.st_googleplus_icon .stLarge{
	background: url("images/social/share-google-plus.png") no-repeat scroll left top transparent !important;
	background-size: 32px 32px !important;
} 

.st_pinterest_icon .stLarge{
	background: url("images/social/share-pinterest.png") no-repeat scroll left top transparent !important;
	background-size: 32px 32px !important;
}


#footerText{ text-align: center; }
#footerlineleft, #footerlineright{ text-align: center; padding: 5px 0; } 


#mobile-menu{ position: absolute; left: 10px; top: 20px; font-size: 40px; }

#menu.panel ul{ }

#menu.panel ul li{ }

#sideBar{ display: none; }


.clear_mobile{ clear: both; }
.hide_mobile{ display: none; }
.show_mobile{ display: block; }




@media (min-width: 480px)
{
	
}


@media (min-width: 768px)
{
	#logo{ }
	#mobile-menu{ left: 15px; }
	#mainPage
	{
		border: 15px solid #33c1e2;
	}
	.offersText{ padding-right: 30px; }
	.offers{ width: 50%; float: left; }
	.offers:nth-child(odd){ clear: left; }
}


@media (min-width: 992px)
{
	#sideBar{ display: block; }
	#mobile-menu{ display: none; }
	.show_mobile{ display: none; }
	.hide_mobile{ display: block; }
	#logo{ left: 20px; width: 250px; height: 54px; top: 25px; right: auto; }
	#header{ padding: 25px;	height: 54px; }
	#mainPage
	{
		border: 20px solid #33c1e2;
	}
	#mainContent {
    	width: 66.8%;
    	float: left;
    	padding: 0 2%;
    }
    #sideBar {
		float: left;
		padding: 20px 2%;
    	width: 25%;
	}
	.clear_mobile{ display: none; }
	
	#footerText{ text-align: left; }
	#footerlineleft {
		width: 50%;
		float: left;
		text-align: left;
	}
	#footerlineright {
		width: 50%;
		float: right;
		text-align: right;
	}
	
}


@media (min-width: 1200px)
{
	#logo{ left: 25px; right: auto; }
	#pageWrapper
	{
		width: 1200px;
	}
	
	#mainPage
	{
		border: 25px solid #33c1e2;
	}
	#mainContent {
    	width: 829px;
    	padding: 0 20px;
    }
     #sideBar {
		padding: 25px 20px;
		width: 240px;
	}
	
	#homePageText {
		padding: 25px 10px;
		width: 565px;
	}
	#homePageMenu {
		padding: 25px 0 0 0;
		width: 240px;
	}
}

/********************************
 *
 *	Author: Earth Branding
 * Author URI: https://earth.london/
 * Version: 3.0
 * Date: 17.03.2021
 *
 ********************************/ 

/******* GLOBAL STYLES *******/

/* Colours */

:root {
	--yellow: #FFCE32;
	--blue: #33C1E2;
	--dark: #393B4D;
	--cream: #F8F8EC;
}

body {
	background-color: var(--cream);
	background-image: none;
	border: 25px solid var(--blue);
	font-family: 'cheapside-light', Arial, Helvetica, sans-serif;
	position: relative;
	overflow-y: scroll;
	overflow-x: hidden;
}

body:before {
	content: '';
	width: 25px;
	background-color: var(--blue);
	position: absolute;
	top: 0px;
	left: -25px;
	z-index: 1;
	bottom: 80px;
}

body:after {
	content: '';
	width: 25px;
	background-color: var(--blue);
	position: absolute;
	top: 0px;
	right: -25px;
	z-index: 1;
	bottom: 80px;
}

#mainPage {
	border: none;
	background-color: var(--cream);
	overflow: visible;
}

#mainContent {
	max-width: 1200px;
	width: 100%;
	margin: 125px auto;
	border: none;
	margin-top: 105px;
	background-color: var(--cream);
}


#mainContent ul li {
	list-style: none!important;
}

/* Typography for editor */
#mainContent h3 {
	font-size: 45px;
	line-height: 1.3;
}

#mainContent h4 {
	font-size: 20px;
	line-height: 1.3;
	margin: 0 0 20px 0;
}

#mainContent p {
	font-size: 30px;
	line-height: 1.3;
	margin: 0 0 35px 0;
}

#mainContent p.small {
	font-size: 20px;
}

#mainContent a {
	color: var(--dark);
}

/* bugfixing for container */
#mainContent {
	margin-left: -25px;
}
/*** HEADER ***/
#header {
	background-color: var(--cream);
	position: fixed;
	top: 0px;
	left: 0px;
	right: 0px;
	z-index: 100;
	border: 25px solid var(--blue);
	border-bottom: none;
	padding: 25px 0px;
}

#header.active {
	background-color: var(--dark);
}

#header.active #mobile-menu {
	color: var(--cream);
}

#close-btn {
	width: 30px;
	display: none;
}

#header.active #close-btn {
	display: block;
}

#header.active span,
#header.active .search-form {
	display: none;
}

#logo,
#mobile-menu {
	position: static;
	top: initial;
	left: initial;
	right: initial;
	bottom: initial;
}

#logo {
	width: 211px;
	height: 45px;
	background-size: contain;
	background-image: url('/wp-content/themes/cheapside/images/cheapside_logo_black.png');
}

#logo.active {
	background-image: url('/wp-content/themes/cheapside/images/cheapside_logo_white.png');
}

#mobile-menu {
	display: block!important;
	position: static;
	color: var(--dark);
}

.menu-mobile-navigation-container {
	margin-top: 50px;
}

.menu-container {
	max-width: 1200px;
	width: 100%;
	margin: 0 auto;
}

#header .header-container {
	max-width: 1200px;
	width: 100%;
	margin: 0 auto;
}

#header .header-container-inner {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
}

.header-search-form {
	display: flex;
	align-items: center;
}

#searchform div {
	display: flex;
	margin-bottom: 6px;
}

#searchform div img {
	margin-right: 5px;
}

#searchform input {
	background-color: var(--cream);
	border: none;
	border-bottom: 2px solid var(--dark);
	margin-left: 10px;
   margin-right: 50px;
	font-size: 20px;
	color: var(--dark);
	height: 30px;
	font-family: 'cheapside-light', Arial, Helvetica, sans-serif;
}

#menu {
	position: fixed;
	top: 0px;
	left: 0px!important;
	right: 0px!important;
	bottom: 0px;
	border: 25px solid var(--blue);
	background: var(--dark);
	width: 100%!important;
	z-index: 100;
	box-sizing: border-box;
	transition: all 300ms ease 0s;
	display: none;
}

#menu.show {
	opacity: 1;
} 

#menu.hide {
	opacity: 0;
} 

/*** FOOTER ***/
#footer {
	position: absolute;
	bottom: -25px;
	left: -25px;
	right: -25px;
	border-top: 25px solid var(--blue);
	padding: 25px;
	z-index: 999999;
}

/*** MAIN NAV ***/
#sideBar {
	display: none;
	position: fixed;
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
	border: 25px solid var(--blue);
	background: var(--dark);
	width: 100%;
	z-index: 100;
	box-sizing: border-box;
}

.menu-main-navigation-menu-container {
	max-width: 1200px;
	width: 100%;
	margin: 0 auto;
}

ul.menu-offers-navigation-menu li {
	border: none;
	color: var(--blue);
	padding: 20px 0;
}

ul.menu-offers-navigation-menu li a {
	color: var(--blue);
	font-size: 60px;
	text-transform: initial;
	font-weight: 100;
	letter-spacing: -3px;
	font-family: 'cheapside-light', Arial, Helvetica, sans-serif;
}

ul.menu-offers-navigation-menu li:last-child {
	border: none;
}

ul.menu-offers-navigation-menu li.current_page_item a {
	font-size: 60px;
	text-transform: initial;
	font-family: 'cheapside-light', Arial, Helvetica, sans-serif;
	font-weight: 100;
}

ul.menu-offers-navigation-menu li.current_page_item a:after,
ul.menu-offers-navigation-menu li a:after {
	content: '';
	width: 40px;
	height: 40px;
	display: inline-block;
	margin-left: 20px;
	background-image: url('/wp-content/themes/cheapside/images/icon_arrow_white.svg');
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;

} 

ul.menu-offers-navigation-menu li a:hover,
ul.menu-offers-navigation-menu li.current_page_item a {
	color: var(--yellow);
}

/*** HOME PAGE ***/

/* Slider */
.flexslider .caption-wrap {
	background: none!important;
	top: 20px;
	left: 20px!important;
	font-family: 'cheapside-regular', Arial, Helvetica, sans-serif;
	font-weight: 100;
	opacity: 1!important;
	font-size: 60px;
	letter-spacing: -2px;
   line-height: 1.2!important;
}

/* Content */
#homePageText {
	width: calc(50% - 20px);
}

#homePageMenu {
	width: 50%;
}

#homePageMenu .menu-page-navigation-menu-container {
	margin-left: 50px;
}

/* Buttons */
ul.menu-page-navigation-menu li {
	background-color: var(--yellow);
	background-image: none;
	color: var(--dark);
	margin: 0px;
	list-style: none!important;
}

ul.menu-page-navigation-menu li:nth-child(1){
	background-image: url('/wp-content/themes/cheapside/images/icon_arrow_black.svg');
	background-repeat: no-repeat;
	background-position: 90% 50%;
	background-size: 50px 50px;
	margin-bottom: 0!important;
}

ul.menu-page-navigation-menu li:nth-child(1) a {
	color: var(--dark);
}

ul.menu-page-navigation-menu li:nth-child(2) {
	background-color: var(--dark);
	list-style: none!important;
	background-image: url('/wp-content/themes/cheapside/images/icon_arrow_white.svg');
	background-repeat: no-repeat;
	background-position: 90% 50%;
	background-size: 50px 50px;
}

ul.menu-page-navigation-menu li:nth-child(2) a {
	color: #ffffff!important;
}

ul.menu-page-navigation-menu li a {
	padding: 32px 42px;
	font-size: 30px;
}

/* Featured offer */
.bx-wrapper {
	width: 1200px;
	box-shadow: none!important;
	border: none!important;
	margin: 50px 0px!important;;
	max-width: initial!important;
}

.bx-wrapper:before {
	content: '';
	background-color: #fff;
	display: block;
	height: 100%;
	width: 100%;
	position: absolute;
	top: 0;
	left: 100%;
	bottom: 0;
}

.bx-wrapper:after {
	content: '';
	background-color: #fff;
	display: block;
	height: 100%;
	width: 100%;
	position: absolute;
	top: 0;
	right: 100%;
	bottom: 0;
}

.bx-viewport {
	padding: 50px 20px;
}

.eachslider_bx {
	padding: 20px;
}

.eachslider_bx img {
	max-height: 200px!important;
   width: auto!important;
	margin: 0 auto;
}

.bx_title {
	text-align: center;
	width: 90%;
   display: block;
	margin: 20px auto!important;
}

.bx-wrapper .bx-prev {
	background: url('/wp-content/themes/cheapside/images/icon_slider_prev.svg')!important;
	width: 24px!important;
	height: 48px!important;
	background-size: contain!important;
	left: 0px!important;
}

.bx-wrapper .bx-next {
	background: url('/wp-content/themes/cheapside/images/icon_slider_next.svg')!important;
	width: 24px!important;
	height: 48px!important;
	background-size: contain!important;
	right: 0px!important;
}

.bx-wrapper .bx-controls-direction a {
	z-index: 90!important;
}

/*** CUSTOM TYPE PAGES ***/

.page-top {
	display: flex;
	justify-content: space-between;
	align-content: center;
	margin-top: 20px;
	margin-bottom: 30px;
}

#pageTitle h1 {
	font-family: 'cheapside-light', Arial, Helvetica, sans-serif;
	font-size: 60px;
	color: var(--dark);

}

/* Pagination */
body ol.wp-paginate {
	float: none;
}

body ol.wp-paginate a {
	color: #FFFFFF!important;
}

body ol.wp-paginate .title {
	font-family: 'cheapside-light', Arial, Helvetica, sans-serif;
}

body ol.wp-paginate .current {
	font-family: 'cheapside-light', Arial, Helvetica, sans-serif;
}

/* Offers boxes */
.offersTitle h3.blue {
	font-size: 26px!important;
	font-family: 'cheapside-regular', Arial, Helvetica, sans-serif;
	
}

.offersTitle h3.blue a {
	text-decoration: none;
	font-family: 'cheapside-regular', Arial, Helvetica, sans-serif;
}

.offersTitle h3.blue a:hover {
	text-decoration: underline;
}

.read-more {
	line-height: 1!important;
}

.read-more a {
	font-family: 'cheapside-light', Arial, Helvetica, sans-serif;
	font-size: 20px!important;
	color: var(--dark)!important;
	text-decoration: none;
}

.read-more a:hover {
	text-decoration: none;
	font-family: 'cheapside-regular', Arial, Helvetica, sans-serif;
	font-weight: bold;
}

.offersText {
	padding-right: 140px;
}

.offersThumbnail {
	border: 6px solid transparent;
}

body:not(.home) #mainContent:before {
	content: '';
	width: 25px;
	background-color: var(--blue);
	position: fixed;
	top: 0px;
	left: 0px;
	z-index: 1;
	bottom: 0px;
	height: 100%;
}

body:not(.home) #mainContent:after {
	content: '';
	width: 25px;
	background-color: var(--blue);
	position: fixed;
	top: 0px;
	right: 0px;
	z-index: 1;
	bottom: 0px;
	height: 100%;
}

.clearfix:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}

/*** CONTACT US ***/
#privacyAndAccessibilityContent form p {
	font-size: 14px!important;
	margin: 0 0 10px 0!important;
	font-weight: bold;
   font-family: 'cheapside-regular', Arial, Helvetica, sans-serif;
}

.page-id-430 #mainContent {
	max-width: 530px;
}

.wpcf7-submit {
	cursor: pointer;
	font-weight: bold;
	background-color: #33c1e2;
	font-size: 14px;
	padding: 20px 40px;
	border: none;
	font-family: 'cheapside-bold', Arial, Helvetica, sans-serif;
	color: black;
}

.wpcf7-submit:hover {
	background-color: #393B4D;
	color: #fff;
	padding: 20px 40px;
}

/*** CARD ORDER ***/
.page-template-page-card-order #mainContent {
	max-width: 750px;
}

.page-template-page-card-order #custom-forms input[type=text], 
.page-template-page-card-order #custom-forms input[type=password], 
.page-template-page-card-order #custom-forms textarea {
	width: 100%;
}

.page-template-page-card-order .smaller-font-form {
	font-size: 26px!important;
}

label[for="recaptcha_response_field"] {
	font-size: 14px!important;
}

/*** SEARCH ***/
body.search  {
	min-height: 100vh;
}

.search #pageWrapper {
	margin: 150px auto;
}

.search .hentry {
	margin: 20px 0px;
}

/******* MOBILE STYLES *******/

/*** MONITOR - 1440px ***/
@media screen and (max-width: 1440px) {
	#header {
		border-top: 15px solid var(--blue);
		border-left: 15px solid var(--blue);
		border-right: 15px solid var(--blue);
	}
	#menu {
		border: 15px solid var(--blue);
	}
	#footer {
		border-top: 15px solid var(--blue);
	}
	body {
		border: 15px solid var(--blue);
	}
	body:before {
		width: 15px;
		left: -15px;
	}

	body:after {
		width: 15px;
		right: -15px;
	}
	body:not(.home) #mainContent:before,
	body:not(.home) #mainContent:after {
		width: 15px;
	}
	body:not(.home) #mainContent:after {
		right: -15px;
	}
	#mainContent h3 {
		font-size: 36px;
	}
	ul.menu-page-navigation-menu li a {
		font-size: 28px;
	}
	#mainContent p {
		font-size: 28px;
	}
	.flexslider .caption-wrap {
		font-size: 54px;
	}
	#pageTitle h1 {
		font-size: 56px;
		line-height: 1.2em;
	}
}

/*** LAPTOP - 1280px ***/
@media screen and (max-width: 1280px) {
	#mainContent,
	#pageWrapper,
	#header .header-container,
	.menu-container {
		max-width: 900px;
	}
	.bx-wrapper {
		width: 900px;
	}
	#mainContent h3 {
		font-size: 30px;
	}
	ul.menu-page-navigation-menu li a {
		font-size: 26px;
	}
	#mainContent p {
		font-size: 24px;
	}
	.flexslider .caption-wrap {
		font-size: 48px;
	}
	.offersText {
		padding-right: 100px;
	}
}

@media screen and (max-width: 1200px) {
	#homePageText {
		width: 50%;
	}
}

/*** LAPTOP SMALL - 1024px ***/
@media screen and (max-width: 1024px) {
	#header {
		border-top: 10px solid var(--blue);
		border-left: 10px solid var(--blue);
		border-right: 10px solid var(--blue);
	}
	#menu {
		border: 10px solid var(--blue);
	}
	#footer {
		border-top: 10px solid var(--blue);
	}
	body {
		border: 10px solid var(--blue);
	}
	body:before {
		width: 10px;
		left: -10px;
	}

	body:after {
		width: 10px;
		right: -10px;
	}
	body:not(.home) #mainContent:before,
	body:not(.home) #mainContent:after {
		width: 10px;
	}
	body:not(.home) #mainContent:after {
		right: -10px;
	}
	#mainContent {
		padding-left: 40px;
		padding-right: 40px;
		margin-left: -40px;
	}
	.offersTitle h3.blue a {
		font-size: 24px;
	}
	ul.menu-offers-navigation-menu li {
		padding: 15px 0;
	}
	ul.menu-offers-navigation-menu li a,
	ul.menu-offers-navigation-menu li.current_page_item a {
		font-size: 56px;
	}
	.page-template-page-card-order #mainContent {
		max-width: 1200px;
	}
}

/*** LAPTOP SMALL - 960px ***/
@media screen and (max-width: 960px) {
	#mainContent,
	#pageWrapper,
	#header .header-container,
	.menu-container {
		max-width: 700px;
	}
	.bx-wrapper {
		width: 700px;
	}
	#mainContent h3 {
		font-size: 28px;
	}
	ul.menu-page-navigation-menu li a {
		font-size: 24px;
	}
	#mainContent p {
		font-size: 22px;
	}
	.flexslider .caption-wrap {
		font-size: 42px;
	}
	ul.menu-page-navigation-menu li:nth-child(1),
	ul.menu-page-navigation-menu li:nth-child(2) {
		background-position: 92% 50%;
		background-size: 40px 40px;
	}
	ul.menu-page-navigation-menu li a {
		padding: 27px 25px;
	}
	#searchform input {
		font-size: 18px;
		margin-left: 5px;
    	margin-right: 30px;
	}
	#searchform div img {
		width: 27px;
	}
	.bx-viewport {
		padding: 40px 20px;
  	}
	#pageTitle h1 {
		font-size: 48px;
	}
	.offersText {
		padding: 0px 10px;
	}
	ul.menu-offers-navigation-menu li a,
	ul.menu-offers-navigation-menu li.current_page_item a {
		font-size: 48px;
	}
	ul.menu-offers-navigation-menu li.current_page_item a:after, 
	ul.menu-offers-navigation-menu li a:after {
		width: 35px;
    	height: 35px;
	}
}

/*** TABLET - 768px ***/
@media screen and (max-width: 768px) {
	#mainContent,
	#pageWrapper,
	#header .header-container,
	.menu-container {
		max-width: 500px;
	}
	.bx-wrapper {
		width: 500px;
	}
	.search-form {
		display: none;
	}
	#homePageMenu .menu-page-navigation-menu-container {
		margin-left: 10px;
	}
	#mainContent h3 {
		font-size: 22px;
	}
	ul.menu-page-navigation-menu li a {
		font-size: 20px;
	}
	#mainContent p {
		font-size: 20px;
	}
	.flexslider .caption-wrap {
		font-size: 30px;
	}
	ul.menu-page-navigation-menu li a {
		padding: 23px 18px;
	}
	ul.menu-page-navigation-menu li {
		background-size: 30px 30px;
	}
	.bx-viewport {
		padding: 0px;
  	}
	#pageTitle h1 {
		font-size: 36px;
	}
	ul.menu-offers-navigation-menu li {
		padding: 5px 0px;
	}
	ul.menu-offers-navigation-menu li a,
	ul.menu-offers-navigation-menu li.current_page_item a {
		font-size: 36px;
	}
	ul.menu-offers-navigation-menu li.current_page_item a:after, 
	ul.menu-offers-navigation-menu li a:after {
		width: 30px;
    	height: 30px;
	}
}

/*** PHONE - 600px ***/
@media screen and (max-width: 600px) {
	#homePageText,
	#homePageMenu {
		width: 100%;
	}
	.page-top {
		flex-direction: column;
	}
	#homePageMenu .menu-page-navigation-menu-container {
		margin-left: 0;
	}
	ul.menu-offers-navigation-menu li a,
	ul.menu-offers-navigation-menu li.current_page_item a {
		font-size: 28px;
	}
	ul.menu-offers-navigation-menu li.current_page_item a:after, 
	ul.menu-offers-navigation-menu li a:after {
		width: 25px;
    	height: 25px;
	}
	#mainContent h3,
	#mainContent h4,
	#mainContent p,
	#pageTitle h1,
	.pageNavigation,
	#cardOrderForm {
		padding: 0 20px;
	}
}

